/* Desktop Responsive */

main{
	margin-top: 80px;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

h1 {
	margin: 15vh 0;
}

.about,
.skills {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #000;
	padding: 5% 0;
}

.about {
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 0;
}

hr {
	width:100%;
	height: 2.5px;
	background-color: #fff;
}

.skills {
	padding-top: 2.5%;
	padding-bottom: 7.5%;
}

div {
	padding: 0 7.5%;
}

.about-text {
	text-align: left;
}

.skills-text {
	text-align: center;
}

.about-text h2,
.skills-text h2 {
	color: orange;
	font-size: 24px;
}

.about-text p {
	line-height: 1.5;
	font-size: 16px;
}

img {
	margin: 0;
	height: 100px;
	padding: 5px;
	object-fit: cover;
}

.about-pic img {
	width: 300px;
	height: 300px;
	padding: 0;
}

/* Mobile Responsive */
@media (max-width: 900px) {
	.about,
	.skills {
		flex-direction: column;
		text-align: center;
	}
	.about-text,
	.skills-text {
		padding-top: 0;
		text-align: center;
	}
	.about-pic {
		order: -1;
	}
}